
@{
    ViewBag.Title = "GetBook";
}

<form method="post" action="PostBook">
    <p>Enter Book name:</p>
    <input type="text" name="title" />
    <p>Enter Author:</p>
    <input type="text" name="author" />
    <input type="submit" value="Send" />
</form>

